#user-chat-box {
    position: fixed;
    background-color: white; 
    border-top-left-radius: 10px;
    border-top-right-radius: 30px;
    // padding-top: 10px;

    // border-radius: 5px; 
    height: 300px; 
    width: 20rem;  
    bottom: 0px; 
    right: 40px;
    // box-shadow: 1px lightgrey;
    box-shadow: 1px 1px 10px -2px black;

    .chat-box-header {
        height: 30px;
        // background-color: orange;
        border-top-right-radius: 30px;
        border-top-left-radius: 10px;
        background: linear-gradient(90deg, rgb(26, 26, 109) 0%, #1a945b 100%);
        // text-align: right;
        display: flex;
        justify-content: end;
        align-items: center;
        color: white;
        padding-right: 20px;

    }


    #chat-messages-list {
        box-sizing: border-box;
        list-style: none;
        padding: 10px;
        height: 75%;
        margin: 0;
        // background-color: white;
        overflow: scroll;

        

        .other-message {
            text-align: left;
            padding: 5px;
            span {
                
                background-color: #ffa0a0;
            }
        }

        .other-message span, .self-message span {
            border-radius: 20px;
            display: inline-block;
	    	padding: 10px;
        }

        .self-message{
		    text-align: right;
		    padding: 5px;
		    span{
    			background-color: #a0dcff;
		    }  
	    }
        
        .alert {
            font-size: 0.8rem;
            span {
                background-color: #ccc5c5;
            }
        }
    }

    #chat-messages-list::-webkit-scrollbar {
        display: none;
    }

    #chat-message-input-container {
        width: 100%; 
        position: absolute; 
        bottom: 0; 
        box-sizing: border-box;
        height: 15%;
        display: flex; 
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid lightgrey;

        #chat-message-input {
            border: 0;
            width: 85%;
            height: 100%;
        }

        #chat-message-input:focus {
            outline: none;
            background-color: whitesmoke;
        }
    
        #emoji-mic {
            margin-right: 10px;
            // color: grey;
        }
    }

    
}